# ignore all uploaded files (do not commit to git)
*
!.gitignore

# TODO: except do not ignore the "seed" images for the "entries" table.
!/albums/
!/albums/1.png
!/albums/2.png
!/albums/3.png
!/albums/4.png
!/albums/5.png
!/albums/6.png
!/albums/7.png
!/albums/8.png
!/albums/9.png
!/albums/10.png
!/albums/11.png
!/albums/12.png
