* {
  padding-left: 5px;
}

#title {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 30px;
  margin-left: 10px;
}

button {
  border: none;
  background: none;
}



/* The filter for tags */
/* The side navigation menu */
.side {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.side a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.side .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-right: 20px;
}

#content {
  transition: margin-right .5s;
  padding: 20px;
}

#nav {
  transition: margin-right .5s;
  padding: 20px;
}

/* header */
header {
  color: #ffcdca;
  background-color: #06304e;
  /* padding: 1px 0 30px 0; */
    position: fixed;
    top: 0px;
    margin-left: -20px;
    width: 100%;
    margin-bottom: 100px;
    height: 110px;
}

header a {
  font-weight: bold;
  color:  #ffcdca;;
}

header #title {
  color: #ffcdca;;
  padding-top: 5px;
  padding-left: 20px;

}

#menu {
  display: inline;
}

#menu ul {
  margin-top: -75px;
  padding-bottom: 20px;

  text-align: center;
  padding-left: 250px;
  list-style: none;
}

#menu li {
  margin: 0;
  display: inline-block;
  text-decoration: none;
  padding-left: 40px;
}

#menu li img {
  width: 35px;
  height: 35px;
}

#menu a:visited {
  color:#ffcdca;;
}

#menu a:hover {
  color: #ffcdca;;
}


body {
  margin-top: 140px;
  /* created image myself but inspired from pinterest */
  background-image: url("/public/images/bg.JPG");
  background-color:rgba(0, 0, 0, 0.406);
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
}

.filter {
  display: flex;
  flex-direction: column;
}

/* matrix */
main.entry {
    margin: auto;
    grid-template-rows: auto;
    place-items: center;
}

main.entry .gallery ul {
    display: grid;
    grid-template-columns: repeat( auto-fit, 350px);
    /* justify-content: space-around; */
    list-style: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }

  main.entry .gallery li {
    margin: 20px;
    align-items: center;
    justify-content: center;
  }

  main.entry .entry li>a {
    display: grid;
    width: 30%;
    height: 30%;
    align-items: center;
    justify-content: center;
  }


  main.entry .gallery .thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: stretch;
    width: 300px;
    height: 300px;
    margin-bottom:10px;

    grid-area: 1 / 1;
  }

  main.entry .gallery .thumbnail>img {
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    height: 110%;
    width: 110%;
    margin: 10px;
  }

  main.entry .gallery .thumbnail p {
    flex-grow: 0;
    text-align: center;
    /* margin-top: 10px;
    margin-bottom: 10px; */
  }

  main.entry .gallery .thumbnail .overlay {
    grid-area: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    border-radius: 0px;
    background-color: #ffffffc0;
  }

  main.entry .gallery li>a:hover .overlay {
    opacity: 1;
  }


  /* form */
  .form {
    width: 30%;
    margin-left: 10%;
    margin-top: 2%;

    background-color: rgba(255, 199, 199, 0.433);
    padding: 2%;
    padding-bottom: 3%;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;
    border-bottom-left-radius: 4%;
  }

  .form p{
    color: rgb(255, 255, 255);
    padding-top: 2%;;
  }

  .form .feedback {
    margin-bottom: -0.25em !important;
    color: #dc341e;
    font-weight: bold;
    font-style: italic;
  }

  .label-input{
    padding-top: 3%;
  }

  .align-right{
    text-align: right;
    padding-right: 7%;
    padding-top: 8%;
  }

  /* corrective data */
  .hidden{
    display: none;
  }

 span {
  top: 0; /* Stay at the top */
  float: right;
  margin-right: 50px;
  z-index: 999;
  }
